@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100vh;
  background-color: #c8b79f;
}

body {
  height: 100vh;
}

input {
  background-color: transparent;
  border: 1px solid #c8b79f;
  border-radius: 15px;
  padding: 5px 10px;
}